.container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.landing-wrapper {
    width: 100vw;
    box-sizing: border-box;
    padding: .8rem 5rem 0 5rem;
    text-align: center;
    position: relative;
    top: 6rem;
    bottom: 0;
    background-color: #ecf6ff;
}

.welcome-links {
    width: 90%;
    height: 90%;
}

  
.circle {
    background: #E6E8E8;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    -webkit-box-shadow: 6px 3px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 3px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 3px 17px 0px rgba(0,0,0,0.75);
    animation: morph 3s linear infinite;
    -webkit-border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    -moz-border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    -ms-border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    -o-border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    -webkit-animation: morph 3s linear infinite;
}
  
.circle img {
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.circle:hover img {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}


@keyframes morph{
    0% { 
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%; 
        -webkit-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%; 
        -moz-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%; 
        -ms-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%; 
        -o-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        -webkit-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        -moz-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        -ms-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        -o-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        -webkit-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        -moz-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        -ms-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        -o-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}



/* Smaller Screens */
@media (max-width: 900px)  {

    .circle {
        width: 350px;
        height: 350px;
    }

    .landing-wrapper {
        padding: 0;
        top: 7rem;
    }


}