.top-container-tirobs {
    box-sizing: border-box;
    height: 80vh;
    width: 100vw !important;
    margin: auto;
    margin-top: 5rem;
    padding-right: 15px !important;
}

h2 {
    font-size: 2.5rem;
}

.product {
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 5rem 8rem 3rem;
    text-align: center;
    height: 450px;
    width: 100vw;
    z-index: 1;
}

.product-pictures {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    box-sizing: border-box;
}

.product p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.product-picture-one,
.product-picture-two {
    background-size: 100%;
    height: 22rem;
    width: 45%;
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: 3;
}

.product-picture-one {
    background-image: url('../../images/m024t0182_e_cleaning_spray_15july22.png');
    margin-left: 10px !important;
}

.product-picture-two {
    background-image: url('../../images/m024t0182_e_cleaning_spray.png');
    margin-right: 10px !important;
}

.product-desc {
    background-color: #a7bdb1;
    box-sizing: border-box;
    margin-bottom: 7rem;
    width: 100vw;
    padding: 15rem 2rem 5rem 2rem;
    text-align: center;
}

.product-desc p {
    font-size: 1.3rem;
}

.circle-container-tirobs {
    width: 350px;
    height: 350px;
    margin-bottom: 20px !important;
}


.circle-container-large-tirobs {
    width: 100%;
    height: 400px;
}

.circle-container-tirobs h5,
.circle-container-large-tirobs h5 {
    margin-top: 60px !important;
    font-size: 1.1rem;
    color: black;
}

.circle-container-tirobs p,
.circle-container-large-tirobs p,
.circle-container-large-tirobs ul {
    font-size: .9rem !important;
    color: black;
    margin: 0 2rem;
}

.about-green {
    background-color: #287D4F;
    padding: 3rem 10rem 0rem 5rem;
    box-sizing: border-box;
    text-align: left;
}

.about-green h2 {
    text-transform: uppercase;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
}

.about-green p {
    color: white;
    font-size: 1.2rem;
}

.about-green h4 {
    text-transform: uppercase;
    color: white;
    font-size: 1.3rem;
    margin: 3rem 0 0;
}

.tirobs-abt-images {
    padding: 4rem 0 0 0;
    box-sizing: border-box;
}

.tirobs-abt-images img {
    width: 120%;
    height: 23rem;
    margin-bottom: 4rem;
    z-index: 99;
    position: relative;
    left: -5rem;
}

.tirobs-abt-images img:last-child {
    margin-bottom: 0;
    display: none;
}

.tirobs-mission-vision {
    background: #A7BDB1;
    box-sizing: border-box;
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    margin: 0 0 5rem;
}

.tirobs-vision {
    box-sizing: border-box;
    background-image: url('../../images/Rectangle23tirob.png');
    background-size: cover;
    margin-right: 1rem;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    width: 45%;
}

.tirobs-mission {
    box-sizing: border-box;
    background-image: url('../../images/Rectangle24tirob.png');
    background-size: cover;
    margin-left: 1rem;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    width: 45%;
}

.inner {
    background-color: #00210F99;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2rem 1.5rem;
}

.inner h2 {
    color: white;
}

.inner p {
    font-size: 1.1rem;
}

.form-container.tirobs-background {
    background-color: #A7BDB2;
    margin-top: 5rem;
}

/* Smaller Screens */
@media (max-width: 1000px)  {
    .top-container-tirobs {
        height: 60vh;
    }

    .product {
        padding: 9rem 2rem 5rem;
        height: 550px;
    }

    .product-pictures {
        justify-content: center;
    }

    .product-pictures {
        width: 100%;
    }

    .product-picture-one {
        width: 70%;
        height: 250px;
    }

    .product-picture-two {
        display: none;
    }

    .circle-container-large-tirobs .circle {
        width: 100%;
        height: 27rem;
    }

    .about-green {
        padding: 3rem 4rem 3rem 2rem;
    }

    .tirobs-abt-images img {
        left: -3.5rem;
        width: 160%;
    }

    .tirobs-abt-images img:last-child {
        display: block;
    }

    .tirobs-mission-vision {
        flex-direction: column;
        height: 600px;
        padding: 0;
    }

    .tirobs-vision,
    .tirobs-mission {
        width: 90%;
    }

    .tirobs-vision,
    .tirobs-mission {
        margin-bottom: 1rem;
    }

    .tirobs-mission,
    .tirobs-vision {
        margin-top: 1rem;
    }
}