.ParentMenu,
.BigMenu,
.BigMenuTirobs {
    width: 100vw;
    color: #5658B7;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-weight: 700;
    position: fixed;
    top: 0;
    margin: 0;
    padding: .8rem 4rem;
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    -webkit-box-shadow: outset 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.BigMenuTirobs {
    padding: .2rem 2rem;
}

.meet-us {
    text-decoration: none !important;
    color: #142251 !important;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.meet-us:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.ParentLogo {
    width: 15rem;
    height: 4rem;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
} 

.ParentLogo:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.BigMenu {
    font-size: 1.2rem;
    padding: .5rem 2.5rem 0;
}

.Logo {
    width: 10rem;
}

.MenuItems {
    display: flex;
}

.ListItem {
    color: #42449a !important;
}

.ListItemTirobs {
    color: #000 !important;
}

.ListItemTirobs,
.ListItem {
    text-decoration: none !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 5px solid #b7604600;
    padding: 1.5rem 2.5rem;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.ListItem:hover, .active {
    border-bottom: 5px solid #B76046;
}

.ListItemTirobs:hover, .active {
    border-bottom: 5px solid #287D4F;
}



.SmallMenuBlock,
.SmallMenuBlockTirobs,
.SmallMenu  {
    display: none;
}


/* Smaller Screens */
@media (max-width: 900px)  {

    .meet-us {
        font-size: 1rem;
        border: 2px solid #142251;
        padding: 2px 8px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .ParentMenu {
        justify-content: center;
        flex-direction: column;
    }

    .BigMenu, 
    .SmallMenuNoDisplay {
        display: none;
    }

    .SmallMenuContainer {
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100vw;
        background-color: #fff;
    }

    .SmallMenu {
        display: flex;
        justify-content: space-between;
        padding: 20px 2rem;
    }

    .SmallMenuBlock {
        background-color: #142251ec;
    }

    .SmallMenuBlockTirobs {
        background-color: #287D4F;
    }

    .SmallMenuBlock,
    .SmallMenuBlockTirobs {
        padding: 0;
        display: block;
        width: 100%;
        height: 60%;
        position: fixed;
        z-index: 998;
        top: 88px;
    }

    .ListItemSmall {
        color: #fff !important;
        text-align: center;
        text-decoration: none !important;
        padding: 0;
        width: 100%;
    }

    .ListItemSmallInner,
    .ListItemSmallInnerTirobs {
        border-top: 1px solid #fff;
        padding: 40px 0;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
}

    .ListItemSmallInner:hover {
        background-color: #B76046;
    }

    .ListItemSmallInnerTirobs:hover {
        background-color: #014620;
    }

}